:root{
  --mainBlue: #1066AD;
  --lightBlue: #4D8DD2;
  --mainWhite: #E4E3E3;
  --mainDark: #130C00;
  --mainYellow: #FFDC6A;
}
body{
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Libre Baskerville', serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}